<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/meyers_reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="wrapper">

    <header>
      <a href="/"><h1 class="logo">Snippin</h1></a>
      {{#name}}<h1>Welcome, {{.}}</h1>{{/name}}
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/snippet/create"><li>Create Snip</li></a>
        <a href="/account/profile"><li>Profile</li></a>
        <a href="/account/login"><li>Login</li></a>
        <a href="/account/logout"><li>Logout</li></a>
      </ul>
    </header>

    <section class="profile-main-content">
      {{#user}}
        <form class="form" id="signupForm" action="/account/profile/update" method="post">
          <h1>Edit Profile</h1>
          <label for="firstName">First:</label>
          <input type="text" name="firstName" value="{{firstName}}" placeholder="first name">
          <label for="lastName">Last:</label>
          <input type="text" name="lastName" value="{{lastName}}" placeholder="last name">
          <label for="username">Username:</label>
          <input type="text" name="username" value="{{username}}" placeholder="username">
          <label for="email">Email:</label>
          <input type="text" name="email" value="{{email}}" placeholder="email">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" placeholder="password">
          <button>Submit</button>
        </form>
      {{/user}}
      <form class="form" action="/search" method="get">
        <input type="text" name="search" value="" placeholder="Search by tag name">
        <button>Get Snippin!</button>
      </form>

      <div class="search-results">
        {{#code}}
          <div class="single-result">
            <h2>{{title}}</h2>
            <h3>{{tags}}</h2>
            <h3>by: <span class="author">{{author}}</span></h3>
            <div id="editor" class="divEditor" >{{codeSnippet}}</div>
          </div>
        {{/code}}
      </div>
    </section>


    </section>
    <script src="/js/ace-builds-master/src-noconflict/ace.js"></script>
    <script src="/js/ace-builds-master/src-noconflict/ext-beautify.js"></script>
    <script src="/js/ace-builds-master/src-noconflict/ext-language_tools.js"></script>
    <script>




      var divs = document.querySelectorAll('.divEditor')
      var beautify = ace.require("ace/ext/beautify")

      for (var i = 0; i < divs.length; i++) {

        divs[i].id = `editor${[i]}`
        ace.edit(`editor${[i]}`)
        .setTheme("ace/theme/monokai")
        ace.edit(`editor${[i]}`)
        .getSession()
        .setMode("ace/mode/javascript")
        beautify.beautify(ace.edit(`editor${[i]}`).session);
      }












    </script>
  </body>
</html>
